@import "../../stylesheet/vars.css";
@import "../../stylesheet/fonts.css";

.control {
  border: none;
  padding-bottom: 4px;
  border-radius: 0;
  border-bottom: 1px solid var(--accent-background-color);
  min-height: 34px;
  box-shadow: none;
  background-color: var(--light-background-color);
  transition: color 0.2s ease;
}

.control:hover {
  border-bottom: 1px solid var(--accent-background-color);
}

.indicatorSeparator {
  display: none;
}

.input {
  font-size: 18px;
  color: var(--dark-font-color);
}

.placeholder {
  color: var(--logout-button-color);
  margin: 0;
  font-size: 18px;
}

.singleValue {
  color: var(--dark-font-color);
  margin: 0;
  font-size: 18px;
}

.dropdownIndicator {
  color: var(--dark-font-color);
  padding: 9px 8px;
  align-items: flex-start;
  width: auto;
  height: auto;
  transition: color 0.2s ease;
}

.dropdownIndicator:hover {
  color: var(--accent-background-color);
}

.dropdownIndicator > svg {
  width: 18px;
  height: auto;
}

.menu {
  height: auto;
  max-height: 352px;
  background: var(--light-background-color);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  overflow: hidden;
}

.menuList {
  height: auto;
  max-height: 352px;
  background: transparent;
  border-radius: 20px;
}

.option {
  cursor: pointer;
  padding: 8.5px 20px;
  font-size: 18px;
  line-height: 1.5;
}

.option:hover {
  color: var(--accent-brand-color);
  background: var(--light-background-color);
  font-weight: 700;
}

.option[selected] {
  background: var(--light-background-color);
  color: var(--accent-brand-color);
  font-weight: 700;
}
