@font-face {
  font-family: "Poppins";
  src: local("Poppins-Regular"),
    url("../assets/fonts/fonts/Poppins-Regular.otf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins-Bold"),
    url("../assets/fonts/fonts/Poppins-Bold.otf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Circe";
  src: local("Circe-Regular"),
    url("../assets/fonts/fonts/Circe-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Circe";
  src: local("Circe-Bold"),
    url("../assets/fonts/fonts/Circe-Bold.otf") format("opentype");
  font-weight: 700;
}
