
@import "../../stylesheet/vars.css";
@import "../../stylesheet/fonts.css";
.containerBackground {
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(25px);
  /* height: 80vh; */
  width: 800px;
  padding-top: 40px;
  padding-bottom: 24px;
  padding-left: 32px;
  padding-right: 32px;
  border-radius: 30px;
}

.containerChart {
  margin-right: 62px;
}
.container {
  display: flex;
  justify-content: space-between;
}
h1 {
  margin-bottom: 20px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
}


@media screen and (min-width: 320px) and (max-width: 767px) {
  .containerBackground {
    /* background: var(--accent-background-color); */
    background: var(--accent-background-color);
    /* backdrop-filter: blur(25px);  */
    width: 320px;
    padding: 0;
    height: 1300px;
  }
  .containerChart {
    margin-left: 20px;
  }
  .textTitle {
    margin-left: 0;
  }
  .container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .containerDiagramTab {
    width: 395px;
    margin-right: 15px;
  }
  .containerBackground {
    /* background: var(--accent-background-color); */
    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(25px);
    width: 678px;
    padding: 12px;
    /* margin: 12px; */
    margin-left: 0;
  }
  .container {
    justify-content: start;
    width: 580px;
  }
  .containerChart {
    margin: 0;
  }
}
