@import "../../stylesheet/vars.css";
@import "../../stylesheet/fonts.css";

.containerChart {
  margin-right: 62px;
}
.container {
  display: flex;
  justify-content: space-between;
}
h1 {
  margin-bottom: 20px;
  font-family: "Poppins";
  font-weight: 400;
  font-size: 30px;
  line-height: 45px;
}

@media screen and (max-width: 767px) {
  .containerChart {
    margin-left: 20px;
  }
  .textTitle {
    margin-left: 0;
  }
  .container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .containerDiagramTab {
    width: 395px;
    margin-right: 15px;
  }

  .container {
    justify-content: start;
    width: 580px;
  }
  .containerChart {
    margin: 0;
  }
}

@media screen and (min-width: 1024px) {
  .containerChart {
    margin-right: 64px;
  }
}
