@import "../../../stylesheet/fonts.css";
@import "../../../stylesheet/vars.css";

p {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 320px) {
  .statisticsList {
    color: var(--dark-font-color);
    width: 280px;
    border-collapse: collapse;
    margin: auto auto;
    background-color: transparent;
  }
  .trBox {
    width: 280px;
  }
  .thBox {
    background-color: var(--light-background-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    color: var(--dark-font-color);
    width: 280px;
    height: 58px;
    font-family: "Circe";
  }
  .thCategory {
    border-radius: 30px 0 0 30px;
  }
  .thSum {
    border-radius: 0 30px 30px 0;
  }
  .colorBox {
    width: 24px;
    height: 24px;
    border-radius: 2px;
    margin-left: 20px;

    background-color: transparent;
  }
  .m {
    margin-left: 40px;
  }

  .tdBox {
    border-bottom: 1px solid var(--gray-background-color);
    /* box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.6); */
    padding: 14px 51px 14px 0;
    color: var(--dark-font-color);
    font-family: "Circe";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 112.5%;
  }

  .textValue {
    text-align: right;
    padding-right: 40px;
  }
  .summaryBox {
    font-weight: 400;
    font-size: 15px;
    padding: 14px 0 0 0;
  }
  .summaryText {
    margin-left: 20px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: var(--dark-font-color);
    font-family: "Circe";
  }
  .valueExpenses {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: var(--accent-brand-color);
    font-family: "Circe";
  }
  .valueIncome {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: var(--secondary-brand-color);
    margin-right: 20px;
    font-family: "Circe";
  }
  .textVi {
    text-align: right;
    margin-right: 20px;
  }
  .textVe {
    text-align: right;
    margin-right: 40px;
  }
}

@media screen and (min-width: 768px) {
  .statisticsList {
    width: 336px;
  }
  .trBox {
    width: 276px;
  }
}

@media screen and (min-width: 1280px) {
  .statisticsList {
    width: 100%;
  }
}
