@import "../../../stylesheet/fonts.css";
@import "../../../stylesheet/vars.css";

p {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 320px) {
  .statisticsList {
    color: var(--dark-font-color);
    width: 280px;
    border-collapse: collapse;
    margin: auto auto;
    background-color: transparent;
  }
  .trBox {
    width: 280px;
  }
  .thBox {
    background-color: var(--light-background-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    color: var(--dark-font-color);
    width: 280px;
    height: 58px;
    flex-shrink: 0;
    font-family: "Circe";
  }
  .thCategory {
    border-radius: 30px 0 0 30px;
  }
  .thSum {
    border-radius: 0 30px 30px 0;
  }
  .colorBox {
    width: 24px;
    height: 24px;
    border-radius: 2px;
    margin-left: 20px;
    background-color: transparent;
  }
  .tdBox {
    border-bottom: 1px solid var(--gray-background-color);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
    padding: 14px 0 14px 0;
    color: var(--dark-font-color);
    font-family: "Circe";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 112.5%;
  }
  .textValue {
    text-align: right;
    padding-right: 40px;
  }
  .summaryBox {
    color: var(--dark-font-color);
    font-family: "Circe";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 40px;
    padding-top: 16px;
  }
  .expensesText {
    display: flex;
    justify-content: flex-end;
  }
  .tdExpenses {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: var(--accent-brand-color);
  }
  .tdIncome {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: var(--secondary-brand-color);
  }
}

@media screen and (min-width: 768px) {
  .statisticsList {
    width: 336px;
  }
}

@media screen and (min-width: 1280px) {
  .statisticsList {
    width: 100%;
  }
}
