@import "../../../stylesheet/fonts.css";
@import "../../../stylesheet/vars.css";

@media screen and (min-width: 320px) {
  .calendarBox {
    margin-bottom: 20px;
  }
  .monthBox {
    cursor: pointer;
    width: 280px;
    margin: 20px;
  }
  .yearBox {
    width: 280px;
    margin-top: 20px;
    margin: 20px;
    cursor: pointer;
  }
  .monthBox {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    max-width: 240px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    border-radius: 30px;
    border: 1px solid var(--dark-font-color);
    cursor: pointer;
  }
  .yearBox {
    cursor: pointer;
  }
  .calendarText {
    color: var(--dark-font-color);
    font-family: "Circe";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .datetime {
    max-width: 320px;
    margin-top: -18px;
  }
}
@media screen and (min-width: 768px) {
  .calendarBox {
    margin: 0 auto;
    max-width: 336px;
    margin-bottom: 20px;
    display: flex;
    position: relative;
  }
  .monthBox {
    width: 112px;
    cursor: pointer;
    margin-left: 0;
  }
  .yearBox {
    margin-left: 0;
    cursor: pointer;
  }
  .datetime {
    position: absolute;
    margin-top: -18px;
    width: 100px;
  }
}

@media screen and (min-width: 1280px) {
  .calendarBox {
    margin: 0;
    margin-bottom: 20px;
    width: 395px;
    display: flex;
  }
  .monthBox {
    cursor: pointer;
    margin-right: 26px;
    margin-left: 0;
  }
  .yearBox {
    /* margin-left: 32px; */
    cursor: pointer;
    margin-left: 0;
  }
}
