@import "../../stylesheet/vars.css";
@import "../../stylesheet/fonts.css";
.noData {
  font-family: "Poppins";
  text-align: center;
  font-size: 18px;
  margin-left: 20px;
  margin-top: 10px;
  color: var(--accent-brand-color);
}
.wrapper {
  display: flex;
  flex-direction: column;
  font-family: Circe;
  font-size: 16px;
  padding-left: 0px;
}
.element {
  margin: 8px 0;
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

.listElement {
  display: flex;
  background-color: #fff;
  margin: 1px;
  justify-content: space-between;
  align-items: center;
  padding: 12px 15px 12px 20px;
  border-bottom: 1px solid rgb(219, 219, 219);
}

.listElement:first-child {
  border-radius: 10px 10px 0 0;
}
.listElement:last-child {
  border-radius: 0 0 10px 10px;
  border-bottom: none;
}
.listElementTitle {
  font-family: CirceBold;
  font-size: 18px;
  padding-left: 20px;
}
.red {
  color: #ff6596;
  font-weight: bold;
}
.green {
  color: #24cca7;
  font-weight: bold;
}
.redElementList li {
  border-left: 5px #ff6596 solid;
  padding-left: 0;
}
.greenElementList li {
  border-left: 5px #24cca7 solid;
}
.buttonContainer {
  position: relative;
  display: flex;
  gap: 15px;
}
.editList {
  display: flex;
  gap: 8px;
}

.editList li {
  border: none;
}

th:first-child {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

th:last-child {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  font-family: "Circe";
}

.tableContainer {
  width: 100%;
  padding-left: 0;
}

.tableHeader {
  width: 100%;
}

.tableHeaderRow {
  background-color: var(--light-background-color);
}

.tableHeaderRow:hover {
  background-color: var(--light-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.tableHeaderCell {
  padding: 10px 20px;
  text-align: left;
}

.tableHeaderCell:first-child {
  padding-left: 40px;
}

.tableCell {
  padding: 10px 20px;
  text-align: left;
}

.tableRow:nth-child(even) {
  background-color: #f6f6f6;
}

.btn {
  background-color: var(--secondary-brand-color);
  border-radius: 30px;
  display: flex;
  justify-content: flex-end;
  padding: 15px;
  cursor: pointer;
  margin-left: 0;
}

.btn:hover {
  background-color: var(--element-shadow);
}

.noTransactionText {
  color: var(--dark-font-color);
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  position: relative;
  top: 30px;
}

.circeBoldBlack18px,
.circeBoldBlack18pxDelete {
  color: var(--dark-font-color);
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  flex-grow: 1;
}

.circeBoldBlack18pxDelete {
  color: var(--light-font-color);
}

.circeRegularNormalBlack16px {
  color: var(--dark-font-color);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

.circeBoldGreen16px {
  color: var(--secondary-brand-color);
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
}

.circeBoldRed16px {
  color: var(--accent-brand-color);
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
}

.circeRegularNormalWhite14px {
  color: var(--light-font-color);
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}

.circeRegularNormalWhite16px {
  color: var(--light-font-color);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

.editionsGroup {
  display: flex;
  align-items: center;
}

.edit {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .btn {
    background-color: var(--secondary-brand-color);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    padding: 15px;
    cursor: pointer;
    margin-left: auto;
  }
}

@media screen and (min-width: 1280px) {
  .btn {
    background-color: var(--secondary-brand-color);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    padding: 15px;
    cursor: pointer;
    margin-left: auto;
  }
  .center {
    text-align: none;
  }

  .tableHeaderCell,
  .tableCell {
    padding: 10px 12px;
  }
}

.btn:hover {
  background-color: var(--accent-brand-color);
}
