@import '../../stylesheet/vars.css';
@import "../../stylesheet/fonts.css";


.balance {
  height: 80px;
  padding: 0;
  width: 280px;
  background: var(--light-background-color);
  border-radius: 30px;
  
}
.balance__title {
  text-align: start;
  font-family: "Circe";
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  text-transform: uppercase;
  margin: 0;
  padding: 8px 0 11px 32px;
  color: #a6a6a6;
}
.balance__text {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 30px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0 0 0 32px;
  color: var(--dark-font-color);
  height: 36px;
}
.balance__currency {
    font-family: "Circe";
    font-weight: 400;
    margin-right: 10px;
}

/*Tablet*/

@media screen and (min-width: 768px) {
.balance {
    width: 336px;
}
.balance__title {
    padding: 8px 0 11px 40px;
}
.balance__text {
    padding: 0 0 0 40px;
}
}

/*Desktop*/

@media screen and (min-width: 1280px) {
.balance {
    width: 395px;
}
}