@import "../../stylesheet/fonts.css";
@import "../../stylesheet/vars.css";

.addButton {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 20px;
  right: 20px;
  width: 44px;
  height: 44px;
  background-color: var(--secondary-brand-color);
  border: none;
  cursor: pointer;
  color: var(--secondary-brand-color);
  z-index: 50;
  transition: 190ms linear;
  box-shadow: rgb(227, 233, 232) 0px 12px 28px 0px,
    rgb(22, 151, 123) 0px 2px 4px 0px, rgb(36, 204, 167) 0px 0px 0px 1px inset;
  border-radius: 50%;
  padding: 0;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.addButton:hover {
  color: var(--primary-brand-color);
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.addTransactionIcon {
  height: 44px;
  width: 44px;
}

@media screen and (min-width: 768px) {
  .addButton {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 40px;
    right: 40px;
    width: 44px;
    height: 44px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 50;
    transition: 190ms linear;
  }
}
